body {
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 600px) {
  .header_banner {
    height: 35vh;
    background-image: url("image/polatouche_snow.jpg");
    background-size: cover;
    background-position: center;
  }
}
.tittle-wrapper {
  position: relative;
  top: 45%;
  background: rgba(80,80,80,0.5);
  width: 15vw;
}
.header_main-title {
  text-align: center;
  color: #fff;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  text-align: center;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #f00;
/* border: 1px solid white; */
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
article {
  margin: 0 5%;
}
@media screen and (min-width: 600px) {
  article {
    margin: 0 10%;
  }
}
@media screen and (min-width: 850px) {
  article {
    margin: 0 15%;
  }
}
.article_article-wrapper {
  border: 1px #000 solid;
  border-radius: 3px;
  padding: 10px 10px;
}
.article_article-image {
  height: 30vh;
  background-image: url("image/polatouche_arbre.jfif");
  background-size: cover;
  background-position: 50% 25%;
}
